{% extends "take2form.html" %}

{% block form %}
    <script type="text/javascript">
      $(document).ready(function() {
          // auto-complete for search box
          $("input#what_autocompl").autocomplete( {
              source: [
                    {% for tag in taglist %}
                        "{{tag.choice}}",
                    {% endfor %}
              ]
              });
           });
    </script>

    <table>
        <tr>
            <td id="formtag">
                <input id="what_autocompl" type="text" name="what" value="{{ tag.choice }}" width="200px">
            </td>
            <td><input name="text" type="text" value="{{text}}" width="300px"></td>
            <td id="formhint"></td>
        </tr>
    </table>
{% endblock %}
