{% extends "take2form.html" %}

{% block form %}
    <script language="JavaScript" type="text/javascript" src="/static/json2.js"></script>
    <script language="JavaScript" type="text/javascript">
    </script>
      <article>
        <p>
          <label for="adr">Address:</label>
          <textarea id="adr_text" name="adr" rows="4" cols="40">{{adr}}</textarea>
        </p>
        <p>
          <select id="country_text" name="country" size="1">
              {% for land in landlist %}
              <option {{land.selected}} value="{{land.country}}">{{land.country}}</option>
              {% endfor %}
          </select>
        </p>
        <p>
          <label for="landline_phone">Phone:</label>
          <input type="text" name="landline_phone" value="{{landline_phone}}" size="20">
        </p>
        <div id="globe" style="float: left; margin-left: -100px;">
          <img src="static/spinning_globe0.gif">
        </div>
        <p>
          <input type="hidden" name="adr_zoom" id="adr_zoom" value="{{adr_zoom}}" size="9" readonly>
          <div id="adr_zoom_field">
            {{adr_zoom}}
          </div>
        <p>
        <p>
          <label for="lat">Coordinates:</label>
          <input type="text" name="lat" id="lat" value="{{lat}}" size="9">
          <input type="text" name="lon" id="lon" value="{{lon}}" size="9">
          <a class="button" href="javascript:void(0)" onClick="getlatlon()">Lookup coordinates</a>
        <p>
      </article>
{% endblock %}
