{% extends "take2baseclass.html" %}

{% block title %}
Search for address
{% endblock %}

{% block content %}
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if birthdays %}
      <div class="span-12 prepend-6 last">
        <h2>Birthdays</h2>
      </div>
      <div class="span-12 prepend-6 last">
        {% for person in birthdays %}
            <li>{{ person.name }} ({{ person.nickname }}) *{{ person.birthday }}</li>
        {% endfor %}
      </div>
    {% endif %}

    {% if query and not errors %}
      <div class="span-12 prepend-6 last">
        <h2>{{ result|length }} Results for "{{ query|escape }}":</h2>
      </div>
    {% endif %}

    <form name="editcontact" action="/editcontact" method="GET">
        <!-- hidden input field is used together with javascript to submit -->
        <input type="hidden" name="action" value="">
    </form>

    {% if result %}
      {% for contact in result %}
          <table border="1" cols="2">
            <tr>
              <th class="span-6"/>
              </th>
              <th class="span-2">
                <a class="button" href="javascript:void(0)" onClick="submitForm('editcontact', 'edit_{{contact.key}}')";">Edit</a>
              <th>
              <th class="span-10 last">
                {{ contact.name }}
                {% if contact.nickname %}
                    ({{contact.nickname}})
                {% endif %}
                {{contact.lastname}}
                {% if contact.birthday %}
                    *{{contact.birthday}}
                {% endif %}
              </th>
            </tr>
            {% if contact.relation_to_me %}
            <tr>
              <td class="span-6"/>
              </td>
              <td class="span12 last">
                {{contact.relation_to_me}}
              </td>
            </tr>
            {% endif %}
            {% if contact.user %}
              <tr>
                <td class="span-8"/>
                </td>
                <td class="span10 last">
                  Google account: {{contact.user.nickname}}
                </td>
              </tr>
            {% endif %}
            {% for mobile in contact.mobile %}
              <tr>
                <td class="span-8"/>
                </td>
                <td class="span10 last">
                  {{mobile.mobile}}
                </td>
              </tr>
            {% endfor %}
            {% for email in contact.email %}
              <tr>
                <td class="span-8"/>
                </td>
                <td class="span10 last">
                  {{email.email}}
                </td>
              </tr>
            {% endfor %}
            {% for web in contact.web %}
              <tr>
                <td class="span-8"/>
                </td>
                <td class="span10 last">
                  {{web.web}}
                </td>
              </tr>
            {% endfor %}
            {% for other in contact.other %}
              <tr>
                <td class="span-8"/>
                </td>
                <td class="span10 last">
                    {{other.what}}: {{other.text}}
                </td>
              </tr>
            {% endfor %}
            {% for adr in contact.address %}
              <tr>
                <td class="span-8"/>
                </td>
                <td class="span10 last">
                    {% for adr_line in adr.adr %}
                        <br>{{adr_line}}
                    {% endfor %}
                    <p>{{adr.country}}
                    {% if adr.landline_phone %}
                        <p>phone: {{adr.landline_phone}}
                    {% endif %}
                 </td>
                </tr>
            {% endfor %}
          </table>
          <br>
          <a class="button" href="javascript:void(0)" onClick="submitForm('newperson', 'new_');">New Person</a>
          <a class="button" href="javascript:void(0)" onClick="submitForm('newcompany', 'new_');">New Institution</a>
          <hr>
      {% endfor %}
    {% else %}
          <hr>
          <a class="button" href="javascript:void(0)" onClick="submitForm('newperson', 'new_');">New Person</a>
          <a class="button" href="javascript:void(0)" onClick="submitForm('newcompany', 'new_');">New Institution</a>
    {% endif %}

    <form name="newcompany" action="/newcompany" method="POST">
        <!-- hidden input field is used together with javascript to submit -->
        <input type="hidden" name="action" value="">
    </form>

    <form name="newperson" action="/newperson" method="POST">
         <input type="hidden" name="action" value="">
    </form>

{% endblock %}
