<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="description" content="Linked Address Book"/>
    <!-- Opengraph.org tags -->
    <meta property="og:title" content="Take2 - Linked Address Book" />
    <meta property="og:type" content="non_profit" />
    <meta property="og:url" content="http://www.navimont.com/" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content=""/>
    <title>{% block pagetitle %}{% endblock %}</title>

    <!-- now for the map -->
  </head>
  <body">
      <div id="pagehead">
          <a name="home" href='/search'>Take2</a>
          <div id=loginout><a href="{{loginout_url}}">{{loginout_text}}</a></div>
      <div>
      <br>
      {% block content %} {% endblock %}
  </body>
</html>

