{% extends "take2form.html" %}

{% block form %}
    <table>
        <tr>
            <td id="formtag">Institution name</td>
            <td><input name="company_name" type="text" value="{{company_name}}"></td>
            <td id="formhint"></td>
        <tr>
        </tr>
            <td id="formtag">My relation to this institution'</td>
            <td>
                <select name="linkselect">
                    {% for link in linklist %}
                    <option {{link.selected}} value="{{link.link}}">{{link.link}}</option>
                    {% endfor %}
                </select>
            </td>
            <td id="formhint">(select your relation)</td>
        <tr>
    </table>
{% endblock %}
