{% extends "take2baseclass.html" %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function() {

          // make attic entries disappear
          $('div.take2_data_attic').hide();
          // click handler
          $('div.take2_section .take2_header_toggle').click(function(){
              var section = $(this).parents('div.take2_section');
              $("div.take2_data_attic", section).toggle()
          });
        });
    </script>

    {% for error in errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}

    <header>
      <h1>Manage contact details</h1>
    </header>


    <article id="results">
      <header style="padding: 10px 0px 10px 0px;">
        <aside class="contact_edit">
          {% if contact.attic %}
              <a href="javascript:post_to_url('/deattic', {'instance': '{{contact.class_name}}', 'key': '{{contact.key}}' } );">Undelete</a>
          {% else %}
              <a href="javascript:void(0)" onClick="post_to_url('/attic', {'instance': '{{contact.class_name}}', 'key': '{{contact.key}}'});">Delete</a>
          {% endif %}
        </aside>
        <aside class="back_button">
            <a href="/search?last=True">Back to search results</a>
        </aside>
        <h2>
          <a href="javascript:void(0)" onClick="post_to_url('/edit', {'instance': '{{contact.class_name}}', 'key': '{{contact.key}}'});">
            {{ contact.name }}
            {% if contact.nickname %}
                ({{contact.nickname}})
            {% endif %}
            {{contact.lastname}}
            {% if contact.birthday %}
                &nbsp;*{{contact.birthday}} {{contact.birthmonth}}
            {% endif %}
          </a>
        </h2>
        <h3>
          {{contact.relation}}
          {% if contact.middleman_ref %}
            (related through <a href="/editcontact?key={{contact.middleman_ref}}">{{contact.middleman}}</a>)
          {% endif %}
        </h3>
      </header>
      <!-- properties for this contact -->
      {% for take2 in contact.take2 %}
        <div class="take2_section">
          <div class="take2_header">
            <div>
              <h3>
                  <a  href="javascript:void(0)" onClick="post_to_url('/new', {'instance': '{{take2.class_name}}', 'key': '{{contact.key}}' });">
                  New:</a> {{take2.header}}
              </h3>
            </div>
            {% if take2.has_attic %}
              <a class="take2_header_toggle" href="javascript:void(0)" title="show/hide deleted items">
                  <img class="take2_header_icon" src="/static/icon-undelete.png" alt="New">
              </a>
            {% endif %}
          </div>
          <div style="height: 10px"></div>
          <ul>
            {% for data in take2.data %}
              {% if data.attic %}
                <div class="take2_data_attic">
              {% else %}
                <div class="take2_data">
              {% endif %}
                <aside class="contact_edit">
                  {% if data.attic %}
                    <a href="javascript:post_to_url('/deattic', {'instance': '{{data.class_name}}', 'key': '{{data.key}}' } );">Undelete</a>
                  {% else %}
                    <a href="javascript:void(0)" onClick="post_to_url('/attic', {'instance': '{{data.class_name}}', 'key': '{{data.key}}'});">Delete</a>
                  {% endif %}
                </aside>
                <li>
                  {% if data.class_name == 'Person' %}
                    <!-- go to this persons main edit page, not directly into the form -->
                    <a href="javascript:void(0)" onClick="post_to_url('/editcontact', {'key': '{{data.key}}' });">
                      {{data.data}}
                  {% else %}
                    <a href="javascript:void(0)" title="edit this {{take2.header}}" onClick="post_to_url('/edit', {'action': 'edit', 'instance': '{{data.class_name}}', 'key': '{{data.key}}' });">
                      {{data.data}}
                  {% endif %}
                  </a>
                </li>
              </div>
            {% endfor %}
          </ul>
        </div> <!-- take2_section -->
      {% endfor %}
    </article>
{% endblock %}
