{% extends "take2baseclass.html" %}

{% block title %}
<div class="span-24">
<h1>Upload file for import</h1>
<div>
{% endblock %}

{% block content %}
    {% for error in errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}

    <header>
      <h1>Upload file for import</h1>
    </header>

    <article>
      <form action="/importfile" enctype="multipart/form-data" method="post">
        <div><label>Import file:</label></div>
        <select>
            <div><option value="json">JSON</option></div>
            <div><option value="yaml">Yaml</option></div>
        </select>
        <div><input type="file" name="backup"/></div>
        <div><input class="button" type="submit" value="load"/></div>
      </form>
    </article>
{% endblock %}
