{% extends "take2form.html" %}

{% block form %}

    <table>
        <tr>
            <td id="formtag">First name(s)</td>
            <td><input name="firstname" type="text" value="{{firstname}}"></td>
            <td id="formhint"></td>
        <tr>
        </tr>
            <td id="formtag">Nickname</td>
            <td><input name="nickname" type="text" value="{{nickname}}"></td>
            <td id="formhint"></td>
        <tr>
        </tr>
            <td id="formtag">Last name</td>
            <td><input name="lastname" type="text" value="{{lastname}}"></td>
            <td id="formhint"></td>
        <tr>
        {% if back_ref %}
        </tr>
            <input name="back_ref" type="hidden" value="{{back_ref}}">
            <input name="back_ref_name" type="hidden" value="{{back_ref_name}}">
            <td id="formtag">Relation to {{back_ref_name}}</td>
            <td>
              <input name="back_rel" type="text" value="{{back_rel}}">
            </td>
            <td>Please describe your contact's relation to this person/company.</td>
        <tr>
        {% endif %}
        </tr>
            <td id="formtag">Birthday</td>
            <td><input name="birthday" type="text" value="{{birthday}}"></td>
            <td id="formhint">(enter as dd/mm/yyyy Replace unknown numbers with 0)</td>
        </tr>
    </table>
{% endblock %}
