<!doctype html>
<html>
  <head>
		<meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="description" content="Linked Address Book"/>
    <!-- Opengraph.org tags -->
    <meta property="og:title" content="Take2 - Linked Address Book" />
    <meta property="og:type" content="non_profit" />
    <meta property="og:url" content="http://adr.weschnitz.com/" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content=""/>
    <!-- weschnitz browser tab icon -->
    <!-- <link rel="shortcut icon" href=""> -->

    <!-- Stylesheets -->
		<link rel="stylesheet" media="all" href="/static/take2map.css"/>
    <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/static/leaflet/leaflet.ie.css" /><![endif]-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <!-- style sheet and sources for jquery -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <title>Weschnitz contacts map</title>
  </head>

  <body lang="en" id="full-map">
    <!-- Leaflet JavaScript -->
    <script src="/static/leaflet/leaflet.js"></script>
    <script src="/static/take2map.js"></script>
    <script src="/static/take2geolocate.js"></script>

    <div id="map-siding">
        <input id="login_user_lat" type="hidden" value="{{login_user_lat}}">
        <input id="login_user_lon" type="hidden" value="{{login_user_lon}}">
        <input id="geolocation_request" type="hidden" value="{{geolocation_request}}">
        <input id="login_user_key" type="hidden" value="{{login_user_key}}">
        <div id="loginout">
            <h4><a href="{{loginout_url}}">{{loginout_text}}</a></h4>
        </div>
        {% if signed_in %}
        <div id="login_user_place">
            <h4>{{ login_user_place }}</h4>
        </div>
        <div id="side-menu" class="big">
            <ul>
                <li><a href="/new?instance=Person,Email,Mobile,Address">New contact</a></li>
                <li></li>
            </ul>
        </div>
        {% endif %}
        <div id="weschnitz">
            <h1><a href="/">Weschnitz</a></h1>
        </div>
        <div id="weschnitz_subtitle">
            Your online address book.
        </div>
        <div id="searchbox">
            <input id="searchinput" type="text" name="query" value="{{ query|escape }}" autocomplete="off" placeholder="search a name"  onkeypress="send_on_return(event);">
            <a href="javascript:void(0)" onClick="t2map_contact_req();"><img id="search-icon" src="/static/images/search.png"/></a>
        </div>
        <div id="results">
        </div>
        <div id="exclaimer">
          <header>
            {% if birthdays %}
              <h4>Birthdays</h4>
              <ul id="birthdays">
                {% for person in birthdays %}
                  <li class='big'>{{ person.name }} {% if person.nickname %} ({{ person.nickname }}) {% endif %} *{{ person.birthday }}
                {% endfor %}
              </ul>
            {% else %}
              <h4>(no upcoming birthdays)</h4>
            {% endif %}
          </header>
          {% if new_customer %}
              <div id="new_customer">
                  Start entering your data:
                  <a class="button" href="javascript:void(0)" onClick="post_to_url('/edit', {'instance': 'Person,Mobile,Address', 'Person_key': '{{new_customer_key}}', 'contact_ref': '{{new_customer_key}}'})">
                  Click here</a>
              </div>
          {% endif %}
        </div>
    </div>
    {% block content %} {% endblock %}
    <script type="text/javascript">
            function onload_scripts() {
                // ask user for current position and find out location
                t2_geolocator_run();
                // display map
                t2map_run();
            }

            window.onload=onload_scripts;
    </script>
  </body>
</html>

