{% extends "take2baseclass.html" %}

{% block content %}
    <script type="text/javascript">
      var georequest = new XMLHttpRequest();

      // geolocation.getCurrentPosition error callback
      function position_error_cb (err) {
          var user = $("[name='login_user_key']").val();
          var url = "/location?user="+user+"&err="+err.code;
          georequest.open("GET", url, true);
          // we are not interested in any reply
          georequest.send(null);
      }

      // geolocation.getCurrentPosition position callback
      function position_cb (position) {
          var user = $("[name='login_user_key']").val();
          var url = "/location?user="+user+"&lat="+position.coords.latitude+"&lon="+position.coords.longitude;
          georequest.open("GET", url, true);
          // we are not interested in any reply
          georequest.send(null);
      }

      // called on document ready
      function locate_me() {
          if (!navigator.geolocation) {
              return;
          }
          // maximumAge in milliseconds
          navigator.geolocation.getCurrentPosition(position_cb, position_error_cb, {timeout: 10000, maximumAge: 300000});
      }

      $(document).ready(function() {
          ask_geolocation = $("[name='geolocation_request']").val()
          if (ask_geolocation == "True") {
              locate_me();
          }
      });
    </script>

    <!-- lets the page know when a geolocation request shall be done -->
    <div name="geolocation_request" value="{{geolocation_request}}"/>
    <div name="login_user_key" value="{{login_user_key}}"/>

    {% if signed_in %}
      <!-- Show birthdays for signed in users -->
      {% if birthdays %}
        <header>
          <h1>Birthdays</h1>
          <ul id="birthdays">
            {% for person in birthdays %}
              <li>{{ person.name }} {% if person.nickname %} ({{ person.nickname }}) {% endif %} *{{ person.birthday }}
            {% endfor %}
          </ul>
        </header>
      {% endif %}
    {% else %}
        <p>You can search for people here who have some of their contact information made public.</p>
        <p>If you want to start tour own address book, you need to <a href="/login">sign in</a>. Simply use your existing account with google, yahoo or another <a href="http://openid.net/">openId</a> provider.</p>
        <div style="width: 300px; height: 30px;"></div>
    {% endif %}
    {% if result %}
        {% if query %}
          <header>
            <h1>Results for "{{ query|escape }}" ({{ result_size }} found):</h1>
          </header>
        {% endif %}
      {% for contact in result %}
        <article id="results">
          {% if signed_in %}
            <aside class="contact_navigation">
              <ul>
                {% if contact.can_edit %}
                  <li><a href="javascript:void(0)" onClick="post_to_url('/editcontact', {'key': '{{contact.key}}'});">edit</a></li>
                  {% if contact.is_myself %}
                    <!-- share entry only for myself -->
                    <li><a href="javascript:void(0)" onClick="post_to_url('/share', {'key': '{{contact.key}}'});">share</a></li>
                  {% endif %}
                {% else %}
                  <!-- <li><a href="javascript:void(0)" onClick="post_to_url('editcontact', {'key': '{{contact.key}}'});">connect</a></li> -->
                {% endif %}
                <!-- <li><a href="javascript:void(0)" onClick="post_to_url('editcontact', {'key': '{{contact.key}}'});">locate</a></li> -->
              </ul>
            </aside>
          {% endif %}
          <header>
            <h2>
              {{ contact.name }}
              {% if contact.nickname %}
                  ({{contact.nickname}})
              {% endif %}
              {{contact.lastname}}
              {% if contact.birthday %}
                  &nbsp;*{{contact.birthday}} {{contact.birthmonth}}
              {% endif %}
            </h2>
            <h3>
              {{contact.relation}}
              {% if contact.middleman_ref %}
                (related through <a id="contact_link" href="/search?key={{contact.middleman_ref}}">{{contact.middleman}}</a>)
              {% endif %}
            </h3>
          </header>
          <!-- properties for this contact -->
          {% for take2 in contact.take2 %}
            {% if take2.has_data %}
              <hr>
              {% if take2.class_name == 'Contact' %}
                {% for data in take2.data %}
                  <a id="contact_link" href="/search?key={{data.key}}">{{data.data}}</a>
                  {% if not forloop.last %}
                    ,&nbsp;
                  {% endif%}
                {% endfor %}
              {% else %}
                <ul>
                  {% for data in take2.data %}
                    <li>{{data.data}}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          {% endfor %}
        </article>
      {% endfor %}
    {% else %}
      {% if signed_in %}
        <header>
          {% if query %}
              <h1>Nothing found for {{ query|escape }}</h1>
          {% else %}
          {% endif %}
        <header>
      {% endif %}
    {% endif %}
    {% if signed_in %}
      {% if not query %}
        <div style="width: 300px; height: 30px;"></div>
        <h2>The search page at Weschnitz.</h2>
        <h3>What you can do from here:</h3>
          <ul>
              <li>Your personal data is displayed above. You can add phone numers, a new address etc.</li>
              <li>Use the 'New contact' menu entry in the upper right corner to add more people to your address book.</li>
          </ul>
      {% endif %}
    {% endif %}
  <footer>
  </footer>
{% endblock %}
