{% extends "take2form.html" %}

{% block form %}
    <script language="JavaScript" type="text/javascript" src="/static/json2.js"></script>
    <script language="JavaScript" type="text/javascript">
        var georequest = new XMLHttpRequest();

        function checkReply() {
            if (georequest.readyState == 4) {
                if (georequest.status == 200) {
                    var reply = georequest.responseText;
                    var error = "";
                    var geolatlon = {};
                    try {
                        geolatlon = JSON.parse(reply);
                    } catch (e) {
                        error = e;
                    }
                    if ( 'lat' in geolatlon ) {
                        document.getElementById('lat').value = geolatlon["lat"];
                        document.getElementById('lon').value = geolatlon["lon"];
                        var adr_zoom = geolatlon["adr_zoom"];
                        document.getElementById('adr_zoom').value = adr_zoom;
                        // formatting efforts
                        document.getElementById('adr_zoom_field').innerHTML = adr_zoom;
                    }

                    document.getElementById('globe').innerHTML = '<img src="static/spinning_globe0.gif">';
                } else {
                    // spinning
                    document.getElementById('globe').innerHTML = '<img src="static/spinning_globe1.gif">';
                }
            }
        }

        function getlatlon() {
            var adr = document.getElementById("adr_text").value;
            // replace newlines by " "
            adr = adr.replace("\n"," ")
            var country = document.getElementById("country_text").value;
            var url="/geo?adr="+adr+"+"+country;
            // spinning
            document.getElementById('globe').innerHTML = '<img src="static/spinning_globe1.gif">';
            georequest.open("GET", url, true);
            georequest.onreadystatechange = checkReply;
            georequest.send(null);
        }



    </script>

    <table class="no-zebra">
        <tr>
            <td width="20%" id="formtag">Address</td>
            <td width="50%"><textarea id="adr_text" name="adr">{{adr}}</textarea></td>
            <td width="30%" id="formhint"></td>
        </tr>
        <tr>
            <td id="formtag"></td>
            <td>
                <select id="country_text" name="country" size="1">
                    {% for land in landlist %}
                    <option {{land.selected}} value="{{land.country}}">{{land.country}}</option>
                    {% endfor %}
                </select>
            </td>
            <td id="formhint"></td>
        </tr>
        <tr>
            <td id="formtag">Phone</td>
            <td><input type="text" name="landline_phone" value="{{landline_phone}}" size="20"></td>
            <td id="formhint">(landline phone)</td>
        </tr>
        <tr>
            <td><div id="globe"><img src="static/spinning_globe0.gif"></div></td>
            <td>
                <input type="hidden" name="adr_zoom" id="adr_zoom" value="{{adr_zoom}}" size="9" readonly>
                <div id="adr_zoom_field">
                {{adr_zoom}}
                </div>
                <br>
                <input type="text" name="lat" id="lat" value="{{lat}}" size="9">
                <input type="text" name="lon" id="lon" value="{{lon}}" size="9">
            </td>
            <td><a class="button" href="javascript:void(0)" onClick="getlatlon()">Lookup coordinates</a></td>
        </tr>
    </table>
{% endblock %}
