/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 68px;
	line-height: 70px;
	letter-spacing: -1px;
}

.huge, h1 {
	font-size: 36px;
	line-height: 38px;
}

.large, h2 {
	font-size: 24px;
	line-height: 30px;
}

.bigger, h3 {
	font-size: 18px;
	line-height: 24px;
}

.big, h4 {
	font-size: 14px;
	line-height: 22px;
}

body {
	font: 17px/24px Palatino, Constantia, "Palatino Linotype", serif;
}

.small, small {
	font-size: 11px;
	line-height: 16px;
}

.error {
  border: 2px solid red;
	text-align: center;
	margin: 0px;
	text-shadow: 2px 2px 2px #fff;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 896px;
	position: relative;
  margin-left: auto;
  margin-right: auto;
	background: rgb(232,232,232);
	color: rgb(60,60,60);
}

#masthead {
  margin 0 auto;
	padding-left: 48px;
	padding-right: 48px;
  padding-top: 24px;
	width: 896px;
  height: 120px;
  background-color: #30C090;
}

#masthead form {
  position: relative;
  left: 344px;
  bottom: 30px;
}

#masthead p {
  margin: 0px;
}

#masthead #autocomplete {
  width: 260px;
}

#masthead nav {
  width: 400px;
  text-align: right;
  float: right;
}

#masthead ul {
  list-style: none;
}

/* general layout for centered text */

/* center all */
#page_content {
  margin-top: 14px;
  margin-left: 160px;
  margin-right: 160px;
  width: 672px;
}

.error {
  padding 10px;
}

article {
  margin-top: 12px;
  min-height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #64D8B1;
}

/* floating navigation box alongside a #result */
.contact_navigation, .contact_edit {
  float: left;
  text-align: right;
	width: 66px;
	padding: 5px;
	margin-left: -100px;
  background-color: #30C090;
}

.contact_navigation li {
  list-style: none;
  text-align: right;
  padding: 0px;
  margin-top: 5px;
  line-height: 30%;
}

.contact_edit {
  padding: 0px 5px 0px 10px;
  margin-top: 5px;
}

.contact_privacy {
  float: left;
  text-align: right;
	width: 86px;
	margin-left: -110px;
}

.contact_privacy:hover {
  cursor: pointer;
}

.privacy_public {
  background-color: #30C090;
  padding: 0px 10px 5px 10px;
}

.privacy_private {
  background-color: #C04830;
  padding: 0px 10px 5px 10px;
}

.privacy_restricted {
  background-color: #FFFF66;
  padding: 0px 10px 5px 10px;
}

.back_button {
  float: right;
  width: 110px;
  text-align: left;
  padding: 5px;
	margin-right: -170px;
	margin-top: -10px;
  background-color: #30C090;
}

a:link, a:hover, a:visited {
  color: #303030;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

/* all links in the article section */
article a:link, article a:hover, article a:visited,
header a:link, header a:hover, header a:visited {
  color: #E6E6E6;
  text-decoration: none;
}

/* except the contact links in search results */
#contact_link {
  color: #303030;
  text-decoration: underline;
}


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	body {
		width: 712px;
		padding: 48px 28px 60px;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

	body {
		width: 252px;
		padding: 48px 34px 60px;
	}

}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	body {
		width: 436px;
		padding: 36px 22px 48px;
	}

}

/*********************************************************/


.take2_header {
  width: 652px;
  padding: 5px;
  background-color: #30C090;
}

.take2_header_icon {
  width: 24px;
  height: 24px;
  float: right;
  margin-top: -25px;
  padding-right: 10px;
}

.input_text {
    width: 300px;
}

.click_icon {
    width: 30px;
    height: 30px;
}

hr {
  background-color: #3C3C3C;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2px;
}

#signup {
  list-style-position: inside;
}

#birthdays {
  padding: 10px;
}

#birthdays li, #results li {
  list-style: none;
  padding-left: 10px;
  padding-bottom: 10px;
}


