/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

body {
	font: 17px/24px Palatino, Constantia, "Palatino Linotype", serif;
}

.gigantic      { font-size:  64px; line-height:  66px;                           letter-spacing: -2px; }
.huge,   h1    { font-size:  34px; line-height:  44px;                           letter-spacing: -0px; }
.large,  h2    { font-size:  28px; line-height:  36px; margin:  0px 0px 20px 0px;                      }
.bigger, h3    { font-size:  22px; line-height:  30px; margin: 44px 0px  0px 0px;                      }
.big,    h4    { font-size:  14px; line-height:  22px; margin: 20px 0px  0px 0px; font-weight: bold;   }
.normal, p     { font-size:  14px; line-height:  22px; margin:  0px 0px 10px 0px;                      }
.small,  small { font-size:  12px; line-height:  16px;                                                 }


.small, small {
	font-size: 13px;
	line-height: 18px;
}

.error {
	text-align: center;
	color: #999;
	text-shadow: 2px 2px 2px #fff;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 896px;
	position: relative;
  margin-left: auto;
  margin-right: auto;
	background: rgb(232,232,232);
	color: rgb(60,60,60);
}

#masthead {
  margin 0 auto;
	padding-left: 48px;
	padding-right: 48px;
  padding-top: 24px;
  padding-bottom: 9px;
	width: 896px;
  background-color: #30C090;
}

#masthead form {
  position: relative;
  left: 344px;
  bottom: 30px;
}

#masthead #autocomplete {
  width: 260px;
}

#masthead nav {
  width: 200px;
  text-align: right;
  float: right;
}

#birthdays, #results, article {
  margin-top: 14px;
  margin-left: 160px;
  margin-right: 160px;
  width: 672px;
}

#birthdays li, article li {
  list-style: none;
  padding-left: 10px;
  padding-bottom: 10px;
}

article {
  margin-left: 0px;
  margin-right: 0px;
  min-height: 80px;
  padding-left: 10px;
  background-color: #64D8B1;
}

.contact_navigation {
  float: left;
	width: 66px;
	padding: 5px;
	margin-left: -100px;
  background-color: #30C090;
}

.contact_navigation li {
  list-style: none;
  text-align: right;
  padding: 0px;
}

/* all links on this page */
a:link, a:hover, a:visited {
  color: #E6E6E6;
  text-decoration:none;
}

a:hover {
  cursor: pointer;
}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	body {
		width: 712px;
		padding: 48px 28px 60px;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

	body {
		width: 252px;
		padding: 48px 34px 60px;
	}

}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	body {
		width: 436px;
		padding: 36px 22px 48px;
	}

}

/*********************************************************/


.property_header {
  background-color: #9db864;
  display: inline;
}

.property_header_text {
    font-size: 12px;
    color: #333333;
    font-weight: bold;
}

.input_text {
    width: 300px;
}

.click_icon {
    width: 30px;
    height: 30px;
}

.button {
    padding: 2px;
    color: #E6E6E6;
    border: 1px solid #030303;
    background-color: #26361C;
}
.content_body a:link {color: #E6E6E6; text-decoration:none;}
.content_body a:visited {color: #E6E6E6; text-decoration:none;}
.content_body a:hover {cursor: pointer; text-decoration:none;}
